.circleindicator-container  {	
	circleindicator-color: /*#0043e8;*/ linear-gradient(to bottom, #008094, #0039c4);
	/*-fx-padding: 5.0;*/
	-fx-background-color: /*-fx-background;*/ transparent;
}
.circleindicator-container > .circleindicator-label {
	-fx-font-weight: bold; 
 	-fx-font-size: 1.8em;
	-fx-text-fill: circleindicator-color;
	-fx-effect: null;
	/*-fx-padding: 5.0;*/
}