/************************** Setting list-view design **************************/

/* no annoying blue :D */
.list-view {
	-fx-focus-traversable: false;
	-fx-opacity: 0.8;
}

.list-view:focused {
	-fx-border-color: transparent;
}

.list-view .list-cell:odd {
	-fx-background-color: #eaeeff;
	-fx-text-fill: navy;
}


.list-view .list-cell:even {
	-fx-background-color: white;
	-fx-text-fill: navy;
}

.list-view .list-cell:selected {
	-fx-background-color: #6074c3;
	-fx-text-fill: white;
}
